.team-section {
	width: 100%;
	min-height: 550px;
	float: left;
	text-align: left;
	background: #029AE4 url(../TeamDec.svg) no-repeat 0 170px;
	/*background: #474E97;*/
	/*background: #36464E; /* Blue grey * / */
}

.team-section.animate {
	background: #029AE4 url(../TeamDec.svg) no-repeat 0 170px;
}


.team-section h1 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 60px;
}