.team-section {
	width: 100%;
	float: left;
	text-align: left;
	/*background: #474E97;*/
	background: #029AE4; /* Blue * / 
	/*background: #36464E; /* Blue grey * / */
}


.team-section h1 {
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 60px;
}